/* * {
  border: 2px solid blue;
} */

body{
  height: 100vh;
  display:grid;
  grid-template-columns: 20% 60% 20%;
  background-color: #FFBDE6;
}

h1, h2{
  margin-top:5%;
  font-family: 'Shippori Antique B1', sans-serif;
  text-align: center;
}

.choice-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choice-box {
  margin: 5%;
  text-align: center;
  font-family: 'Shippori Antique B1', sans-serif;
  border-radius: 4%;
  background-color: #E6DBFF;
  width: 40%;
  height: 30%;
  padding-bottom: 4%;
  cursor: pointer;
  opacity: 1;
}

.choice-box:hover{
  opacity: 0.75;
}

#classicFighterBox {
  margin-top: 8%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 10%;
  margin-left: 10%;
  flex-wrap: wrap;
}

#hardFighterBox{
  margin-top: -3%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 16%;
  margin-left: 16%;
  flex-wrap: wrap;
}

img {
cursor: pointer;
max-width: 150px;
margin-top: 20%;
}

p {
  font-size: 15px;
  text-align: inherit;
  padding : 0;
  margin : 0;
  line-height : 20px;
}

sidebar {
  font-family: 'Shippori Antique B1', sans-serif;
  padding: 10px;
  text-align: center;
  background-color: #ABF7FF;
}

.change-game-button {
    opacity: 1;
    cursor: pointer;
    font-family: 'Shippori Antique B1', sans-serif;
    background-color: #E6DBFF;
    border-radius: 4%;
    margin: 35%;
    font-size: 18px;
    height: 6%;
    width: 69%;
    margin-left: 14%;
}

.change-game-button:hover {
  opacity: 0.75;
}

.human-icon, .robot-icon {
  margin-top: 35%;
  font-size: 40px;
}

#sidebarOne {
  margin-left: -5%;
  margin-top: -6%;
}

#sidebarTwo{
  margin-right: -5%;
  margin-top: -6%;
}

.fighter{
  display:none;
}

.hidden {
  display: none;
}

/* //put button around section, need transition property then
 .hard-fighter{
  display:none;
}

.hidden {
  display: none;
}
