/* * {
  border: 2px solid blue;
} */

body{
  height: 100vh;
  display:grid;
  grid-template-columns: 20% 60% 20%;
  background-color: #FFBDE6;
}

h1{
  font-family: “Montserrat”, sans-serif;
  text-align: center;
}

h2{
  font-family: “Montserrat”, sans-serif;
  text-align: center;
}

.choice-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choice-box {
  margin: 5%;
  text-align: center;
  font-family: “Montserrat”, sans-serif;
  border-radius: 4%;
  background-color: #E6DBFF;
  width: 40%;
  height: 30%;
  padding-bottom: 4%;
  cursor: pointer;
}

#classicFighterBox {
  margin-top: 12%;
  display: flex;
  justify-content: space-evenly;
}

#hardFighterBox {
  margin-top: 12%;
  display: flex;
  justify-content: space-evenly;
}
img {
cursor: pointer;
max-width: 100px;
}

p {
  text-align: inherit;
  padding : 0;
  margin : 0;
  line-height : 20px;
}

sidebar {
  font-family: “Montserrat”, sans-serif;
  padding: 10px;
  text-align: center;
  background-color: #ABF7FF;
}

.human-icon {
  margin-top: 20%;
  font-size: 40px;
}

.robot-icon {
  margin-top: 20%;
  font-size: 40px;
}

#sidebarOne {
  margin-left: -5%;
  margin-top: -6%;
}

#sidebarTwo{
  margin-right: -5%;
  margin-top: -6%;
}
